html{
    font-size: 16px;
}
*{
box-sizing: border-box;
}


:root{
    /* colores */
    --color_verdeBase: #59D9B5;
    --color_verdeOscuro: #01402E;
    --color_verdeClaro:#B3F2E0;
   --color_verdeMuyClaro: #D0F2E9;
   --color_grisFondo: #FAFCFE;
   /* margenes */
   --margen_paddingGeneral:30px;
   --margen_paddingBotones:8px 10px;
   --margen_separacionSection:80px;
   /* fuentes */
   --fuente_Base: Arial;
   --fuente_BaseTamanyo: 1rem;
   --fuente_H1: 2rem;
   --fuente_H2: 1.5rem;
   --fuente_H3: 1.3rem;
   --fuenteBotones: var(--fuente_H3);
   --fuenteParrado: var(--fuente_BaseTamanyo);
}
input{
    display: none;
}
ul.desplegable{
    display: none;
    width: 100vw;
    height: 100vh;
  background-color: var(--color_verdeBase);
  list-style-type: none;
 
}
label{
    position:absolute;
    top: var(--margen_paddingGeneral);
    left: var(--margen_paddingGeneral);
    z-index: 5;

}
input:checked ~ .desplegable{
    display: block;
    justify-content: center;
    align-items: center;
}

svg{
    width: 30px;
}